
<div class="footer-content">
    <div class="footer-authors">
        <p>design: maisa fernanda | <a href="http://zumbi.co.nf">código: carvalab</a></p>
    </div>
    <div class="footer-social-menu">
        {{ menu('footer', '_footer_menu.twig') }}
    </div>
</div>