{% include '_header.twig' %}
        <!-- Conteúdo principal - A barriga do site -->
        <div class="container">

            <script> gradient(false); </script>
            
            <div class="contato-body">
                
                <form class="contato-form">     
                    <input class="contato-field" placeholder="seu nome" type="text" name="name"/>
                    <input class="contato-field" placeholder="seu email" type="email" name="email"/>
                    <input class="contato-field" placeholder="deixe sua mensagem aqui" type="text" name="mensagem"/>
                    <input type="submit" value="enviar">
                </form>

            </div>
            
		</div>
		
        {% include '_footer.twig' %}

	</body>
</html>
