/* container do corpo principal das paginas */
.contato-body{
    margin: 150px auto;
    margin-bottom: 0px;
    width: 85%;
    padding: 0px;
}

/* mail form header */
.cf-head{
    font-family: Century;
    font-size: 28px;
    line-height: 32px;
    font-weight: 100;
    
    margin-bottom: 28px;
}

/* the mail form */
.contato-form-area{
    width: 50%;
    display: inline-block;
}
textarea {
   resize: none;
}

/* for each field */
.simpleform-contact input[type="text"],
.simpleform-contact input[type="email"],
.simpleform-contact textarea{
    font-family: CenturyGothic;
    font-size: 18px;
    line-height: 22px;
    
    padding: 6px 0px 7px 12px;
    margin-bottom: 13px;
    
    background-color: white;
    color: black;
    
    border: 4px solid;
    border-color: #00FFD8;
    
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; 
}
.simpleform-contact textarea{
    height: 200px;
}

/* Bottao de curriculo */
.simpleform-contact input[type="submit"]{
    text-decoration: none;
    color: black;
    font-family: Century;
    font-size: 20px;
    line-height: 20px;
    font-weight: 100;
    background-color: white;
    
    padding: 13px 25px 14px 25px;

    position: relative;
    top: 10px;
    float: right;
    
    border-style: solid;
    border-width: 4px;
    border-color: #AAA;
    cursor: pointer;
}

/* right side information */
.contato-infos{
    width: 40%;
    position: absolute;
    margin-top: 60px;
    right: 0px;
    display: inline-block;
    height: 312px;
    background-color: #EEE;
}

/* style the place holder */
::-webkit-input-placeholder {
   font-family: GothicItalic;
   color: gray;
}

:-moz-placeholder { /* Firefox 18- */
   font-family: GothicItalic;
   color: gray; 
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: GothicItalic;
   color: gray;
}

:-ms-input-placeholder {  
   font-family: GothicItalic;
   color: gray; 
}

/* Info de contato */
.contato-infos{
    font-family: GothicItalic;
    font-size: 16px;
    line-height: 22px;
    
    transition: right 0.4s;
}
.contato-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 78%;
    
    margin: auto;
    position: absolute;
    top: 0; left: 80px; bottom: 0; right: 0;
    
    white-space: nowrap;
}
.contato-content img{
    width: 44px;
    height: 44px;
    
    display: inline-block;
    vertical-align: top;
    
    margin-right: 15px;
}
.cii-content{
    display: inline-block;
    vertical-align: top;
}
.cii-content hr{
    height:2px;
    visibility:hidden;
    margin-bottom:-1px;
}
.contato-infos strong{
    font-family: GothicBold;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
}
.simpleform-message{
    line-height: 312px;
    padding: 0px !important;
}

/* change info menu to 'smart' */
@media all and (max-width: 1080px) and (min-width: 650px){
    .contato-infos{
        width: 500px;
        right: -360px;
    }
    .contato-infos:hover{
        right: 0px;
    }
    .contato-form-area{
        width: 80%;
    }
}

/* break the line when small */
@media all and (max-width: 650px){
    .contato-infos{
        width: 80%;
        position: static;
        display: block;
        clear: both;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    .contato-content{
        position: relative;
        width: 80%;
        top: 30px;
        left: 0;
    }
    .contato-form-area{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
/* font keep inside */
@media all and (max-width: 600px){
    .contato-infos{
        font-size: 14px;
        line-height: 16px;
    }
    .simpleform-contact input[type="submit"]{
        width: 100%;
    }
}
@media all and (max-width: 550px){
    .contato-infos{
        height: 500px;
    }
    .contato-content img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .cii-content{
        text-align: center;
        display: block;
    }
}
@media all and (max-width: 410px){
    .contato-infos{
        font-size: 12px;
        line-height: 13px;
    }
}

/* Move content for tall browsers */
@media all and (min-height: 820px){
    .contato-body{
        margin: 250px auto;
        margin-bottom: 80px;
    }
}
@media all and (min-height: 890px){
    .contato-body{
        margin: 250px auto;
        margin-bottom: 150px;
    }
}

/* images */
.email{
    background-image: url(imgs/contato/email.png);
}

.localizacao{
    background-image: url(imgs/contato/localizacao.png);
}

.telefone{
    background-image: url(imgs/contato/telefone.png);
}