{% include '_header.twig' %}

		<!-- Conteúdo principal - A barriga do site -->
        <div class="container">
            <!-- Conteudo -->
            <div id="freewall">
                <!-- Exemplo divisão -->
                <div class="brick ve"> </div>
                <div class="brick big fogao"> </div>
                <div class="brick carva"> </div>
                <div class="brick fiore"> </div>
                <div class="brick ciclo"> </div>
                <div class="brick bio"> </div>
                <div class="brick"> </div>
                <div class="brick"> </div>
            </div>
		</div>
		
	</body>
</html>
