{% include '_header.twig' %}

        <!-- Topo -->
        <div id="menu">
            <ul>
                <li id="filter-design">Design</li>
                <li id="filter-all">Tudo</li>
                <li id="filter-art">Ilustras</li>
            </ul>
        </div>

		<!-- Conteúdo principal - A barriga do site -->
        <div id="insert">
		</div>
		
	</body>
</html>
