{% include '_header.twig' %}

        <!-- Topo -->
        <div id="menu">
            <ul>
                <li id="filter-design">
                    <div id="filter-design-i" class="menu-item menu-design"></div>
                    <div id="filter-design-t" class="menu-text">Design</div>
                </li>
                <li id="filter-all">
                    <div id="filter-all-i" class="menu-item menu-circulo"></div>
                </li>
                <li id="filter-art">
                    <a id="filter-art-i" class="menu-item menu-ilustra"></a>
                    <a id="filter-art-t" class="menu-text">Ilustras</a>
                </li>
            </ul>
        </div>

		<!-- Conteúdo principal - A barriga do site -->
        <div id="insert">
		</div>

        {% include '_footer.twig' %}
        
	</body>
</html>
