<!-- Conteúdo principal - A barriga do site -->
<div class="container">

    <div class="simplewall">
        
        {% if trabalho.imagem!="" %}
        <div class="job-line">
            <div class="job-image" style="background-image: url({{ imageinfo(trabalho.imagem).url }});">
            </div>
        </div>
        {% endif %}
        
        <div class="job-description">
            <h2 class="job-title" data-bolt-field="title">{{ trabalho.titulo }}</h2>
            <!-- <h3 class="">{{ trabalho.subtitulo }}</h3> -->

            {% if trabalho.conteudo|length > 0 %}
                <div class="">
                {{ trabalho.conteudo }}
                </div>
            {% endif %}
        </div>
        
    </div>

</div>