.simplewall{
    margin: 150px auto;
    margin-bottom: 60px;
    width: 85%;
    padding: 0px;
}

.job-image{
    width: 96%;
    background-position: center;
    background-size: cover;
}

.job-image-with-gallery{
    width: 96%;
    background-position: center;
    background-size: cover;
}

.job-image-with-gallery:before{
    content: ""; display: block; padding-top: 45%;
}

.job-image:before{
    content: ""; display: block; padding-top: 55%;
}

.job-description{
    width: 32%;
    margin-left: 1%;
    height: auto;
    display: inline-block;
    
    font-family: CenturyGothic;
    vertical-align:top;
}

.job-line{
    width: 66%;
    display: inline-block;
    border-style: none solid none none;
    /*border-width: 6px;
    border-color: #00ffd8;*/
    border-width: 1px;
    border-color: #000;
    margin-right: -1px;
}

.job-title{
    margin-bottom: 2%;
}

.job-bottom-menu{
    width: 85%;
    padding: 0px;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    
    text-align:center;
    
    border-style: solid none none none;
    border-width: 7px;
    border-color: #00ffd8;
    margin-top: -7px;
}

.jbmenu-item{
    width: 25px;
    height: 46px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin: 0px;
    
    cursor: pointer;
}

.jbmenu-center{
    width: 46px;
    height: 46px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin: 0px;
    
    cursor: pointer;
    
    background-image: url("imgs/trampos/mais.png");
}

.jbmenu-next{
    background-image: url("imgs/trampos/proximo.png");
    float:right;
}

.jbmenu-prev{
    background-image: url("imgs/trampos/anterior.png");
    float:left;
}