/* job body (description + main image + gallery) */
.simplewall{
    margin: 150px auto;
    margin-bottom: 30px;
    width: 85%;
    padding: 0px;
}

/* job main images */
.job-image{
    width: 98.2%;
    background-position: center;
    background-size: cover;
}

.job-image-with-gallery{
    width: 97.7%;
    background-position: center;
    background-size: cover;
}

.job-image-with-gallery:before{
    content: ""; display: block; padding-top: 55%;
}

.job-image:before{
    content: ""; display: block; padding-top: 60%;
}

/* job main text (description) */
.job-description{
    width: 32%;
    margin-left: 1%;
    height: auto;
    display: inline-block;
    
    font-family: CenturyGothic;
    vertical-align:top;
}

/* This is a holder to the image to add the 'right' line on the image*/
.job-line{
    width: 66%;
    display: inline-block;
    border-style: none solid none none;
    /*border-width: 6px;
    border-color: #00ffd8;*/
    border-width: 1px;
    border-color: #000;
    margin-right: -1px;
}

/* The job main title (name) */
.job-title{
    font-family: Century;
    font-size: 30px;
    margin-bottom: 20px;
}

/* Gallery styles */
.job-gallery{
    margin-top: 18px;
    white-space : nowrap;
}
.job-imagelink{
    padding: 0px;
    margin: 0px;
}
.job-gallery-image{
    width: 31.5%;  
    margin-right: -4px; /* -4px */
    margin-right:1.5%;
    display: inline-block;
    background-position: center;
    background-size: cover;
}
.job-gallery-image:before{
    content: ""; display: block; padding-top: 54.1%;
}

/* The job next-prev-selection menu */
.job-bottom-menu{
    width: 85%;
    padding: 0px;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    
    /*position: absolute;
    bottom: 2%;
    left: 7.5%;*/
    
    text-align:center;
    
    border-style: solid none none none;
    border-width: 7px;
    border-color: #00ffd8;
    margin-top: -7px;
    
    margin-bottom: 10px;
}

/* general item to set the menu item sizes (both next and prev) */
.jbmenu-item{
    width: 18px;
    height: 33px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin: 0px;
    
    cursor: pointer;
}

/* center is a litle different (image is a square) so we can't use menu-item */
.jbmenu-center{
    width: 33px;
    height: 33px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin: 0px;
    
    cursor: pointer;
    
    background-image: url("imgs/trampos/mais.png");
}

.jbmenu-next{
    background-image: url("imgs/trampos/proximo.png");
    float:right;
}

.jbmenu-prev{
    background-image: url("imgs/trampos/anterior.png");
    float:left;
}