/* container do corpo principal das paginas */
.sobre-body{
    margin: 150px auto;
    margin-bottom: 0px;
    width: 65%;
    padding: 0px;
}

/* Imagem da pagina (se tiver) */
.sobre-image{
    background-position: center;
    background-size: cover;
    
    display: inline-block;
    
    width: 45%;
}

.sobre-image:before {
	content: ""; display: block; padding-top: 110%;
}

.sobre-line{
    
    border-style: none none none solid;
    border-width: 1px;
    border-color: #000;
    padding-left: 20px;
    padding-bottom: 20px;
    
}

.sobre-text{
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
    
    width: 50%;
}

/* Bottao de curriculo */
#button-curriculo{
    text-decoration: none;
    color: black;
    font-family: Century;
    font-size: 20px;
    line-height: 20px;
    
    padding: 13px 25px 14px 25px;
    margin-left: 20px;

    position: relative;
    top: 40px;
    
    border-style: solid;
    border-width: 4px;
    border-color: #00FFD8;
}

/*titulo das paginas (sub paginas: sobre, contato)*/
.sobre-title{
    font-family: Century;
    font-size: 32px;
    margin: 0 0 25px 0;
}

.sobre-description{
    height: 60%;
}
.sobre-description p{
    font-family: CenturyGothic;
    /*text-align: justify;
    text-justify: auto;
    hyphens: auto;*/
    
    font-size: 14px;
    line-height: 18px;
}
.sobre-description b{
    font-family: GothicBold;
    font-weight: normal;
}
.sobre-description a{
    font-family: GothicItalic;
    color: black;
    font-weight: normal;
}

/*
*
* MEDIA QUERIES
*
*/

/* if big, we align the text at center*/
@media all and (min-width: 1400px) and (min-height: 800px){
    .sobre-text{
        vertical-align: middle;
    }
    .sobre-image{
        vertical-align: middle;
    }
}

@media all and (max-width: 1000px){
    .sobre-line {
        border-style: none none solid none;
        border-width: 1px;
        border-color: #000;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0;
    }
    .sobre-text{
        margin-left: 0px;
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .sobre-image{
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #button-curriculo{
        
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (min-width: 1500px){
    .sobre-description p{
        font-size: 17px;
        line-height: 22px;
    }
}